<div class="respostas">
  <ul>
  <% replies.each do |reply| %>
    <li>
      <div class="reply" data-id="<%= reply.id %>">      

        <div id="comments_do_reply_<%= reply.id %>">
          <%= reply.conteudo %> <a href="#" id="link_novo_comment" data-reply-id="<%= reply.id %>"><i class='fa fa-comments-o balaozinho-novo-commment'></i></a>

          <div class='autor-post'>
            <%= reply.user.name %> (<%= reply.created_at.strftime("%d/%m/%Y às %H:%M:%S") %>)
          </div>

          <div id="novo_comment_do_reply_<%= reply.id %>" class="novo_comment" hidden="true">
            <%= text_field_tag "comment_conteudo_do_reply_#{reply.id}", "", placeholder: "comente aqui", class: "form-control text-area-comment escapable enterable-comment", "data-reply-id" => reply.id %>
            <input type='button' id="gravar_novo_comment" data-reply-id="<%= reply.id %>" class="btn btn-info btn-gravar-comment" value='Gravar'/>
          </div>

          <div class='comments'>
            <%= render :partial => 'fortes_forum/posts/comments', locals: {comments: reply.comments} %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>