<% if @error %>
  <div id="modal_alert" class="fortes_forum_errors"><%= @error %></div>
<% end %>

<div class="container">
	<div class="forum_header">
		<%= render partial: "fortes_forum/foruns/header", locals: {forum: @post.forum} rescue nil %>
	</div>

	<%= link_to "<i class='fa fa-arrow-circle-left'></i> Voltar".html_safe, fortes_forum_forum_path(@post.forum.id), {class: "btn btn-info btn-xs"} %>
    <%= link_to "<i class='fa fa-refresh'></i> Atualizar".html_safe, "#", {class: "btn btn-warning btn-xs btn-atualizar"} %></br></br>


	<span class="help-block post-content">
	  <%= @post.conteudo %>

      <div class='autor-post'>
        <%= @post.user.name %> (<%= @post.created_at.strftime("%d/%m/%Y às %H:%M:%S") %>)
      </div>
	</span>

  <%= hidden_field_tag :post_id, @post.id  %>
  <%= text_area_tag :resposta_conteudo, "", placeholder: "responda aqui", class: "form-control text-area-reply" %>
  <input type='button' id="gravar_novo_reply" class="btn btn-success btn-gravar-reply" value='Gravar'/>
	</br>
	<div class="replies" id="replies_anchor">
	    <%= render :partial => 'reply', locals: { replies: @post.replies.where(moderado: false) } %>
	</div>
</div>
