<%= link_to "Voltar", fortes_forum_forum_path(@post.forum.id) %></br>

<%= @post.conteudo %></br>

<a href="#" id="link_novo_reply">Novo</a>
<div id="novo_reply" hidden="true">
  <%= hidden_field_tag :post_id, @post.id  %>
  <%= text_field_tag :resposta_conteudo, "", size: "60x6" %>

  <a href="#" id="gravar_novo_reply">Gravar</a>
</div>

</br>

<div class="replies" id="replies_anchor">
    <%= render :partial => 'reply', locals: { replies: @post.replies } %>
</div>
