<%= link_to "Voltar", fortes_forum_forum_path(@post.forum.id) %></br>

<%= @post.conteudo %></br>

<a href="#" id="link_novo_reply">Novo</a>
<div id="novo_reply" hidden="true">
  <%= hidden_field_tag :post_id, @post.id  %>
  <%= text_field_tag :resposta_conteudo, "", size: "60x6" %>
  <%= link_to "Gravar", "#", id: "gravar_novo_reply" %>
</div>

</br>

<% @post.replies.each do |reply| %>
    <%= reply.conteudo %></br>
<% end %>
